body {
  font-family: 'Raleway', serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#cardForm {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

label,
input {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #0074e4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056a7;
}

/* Certificate Modal */

.modal {
  max-width: 800px;
  border: none;
  padding: 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
  
.modal-content {
  background-color: #fff;
  padding: 40px;
  border-radius: inherit;
  position: relative;
  border: 3px solid #659f8f;
}

#certificateContent {
  font-family: 'Raleway', serif;
  color: #333;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #dc7f5f;
  border-radius: 10px;
  margin: 20px 0;
}

h1, .modal-content h2, .modal-content p {
  color: #5d5f5e;
}

.close {
  display: inline-block;
  color: #dc7f5f;
  cursor: default;
  width: 23px;
  height: 23px;
  border: 2px solid #dc7f5f;
  border-radius: 100%;
}

.close:hover {
  background-color: lightgray;
  transition: all 0.5s;
}

/* Adding a fancy border to the certificate content */
#certificateContent {
  background: #f0f0f0;
}

/* Adjust button styles to fit the theme */
button {
  background-color: #659f8f;
  color: #fff;
}

button:hover {
  background-color: #5d5f5e;
}

.cert-logo {
  width: 320px;
  margin-top: 25px;
}
